.section {
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 16px;
}

.paymentMethodContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.paymentMethodBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #DDD;
  background: white;
  cursor: pointer;
  color: #4E5968;
  font-size: 15px;
  font-weight: 500;
}

.paymentMethodBoxSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #025BD9;
  background: white;
  color: #025BD9;
  font-size: 15px;
  font-weight: 600;
}
