.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 20px;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
}
